.intro {
  background-color: var(--base-background-color);
}

.intro__title {
  font-weight: 400;
}

.intro__wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2em 0;
}

.intro__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
  gap: 2rem;
}

.intro__img {
  max-width: 45%;
  overflow: hidden;
}

.intro__img img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;

  /* margin-right: 200px; */
}
