.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-right: var(--space-l);
  padding-left: var(--space-l);

  @media (max-width: 1000px) {
    padding-right: calc(3 * var(--space-s));
    padding-left: calc(3 * var(--space-s));
  }

  @media (max-width: 500px) {
    padding-right: calc(2 * var(--space-s));
    padding-left: calc(2 * var(--space-s));
  }
}
