.menu__link {
  color: var(--accent-color);
  text-decoration: none;
  font-size: 1.5rem;

  &:hover {
    cursor: pointer;
    color: var(--highlight-color);
  }
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 40px;
  font-weight: 400;
  font-size: var(--text-size-base);
}

nav::after {
  content: '';
  display: block;
  width: 85%;
  height: 2px;
  background: var(--accent-color);
  margin: 10px auto 0;
}

.nav__desktop {
  @media (max-width: 650px) {
    display: none;
  }
}

.nav_mobile {
  @media (min-width: 650px) {
    display: none;
  }
}

.nav_mobile__wrapper {
  display: fixed;
  position: absolute;
  max-width: 320px;
  right: 2rem;
  font-size: var(--text-size-base);
  z-index: 99;
}

.nav_mobile__list {
  list-style: none;
  display: grid;
  gap: 1rem;
  right: 10%;
  width: 300px;
  z-index: 100;
  position: absolute;
  background-color: var(--accent-color);
  border-radius: 10px;
  box-shadow: 0px 5px 10px 0px rgba(61, 61, 61, 0.5);
  padding: 2rem 2rem;
}

.nav_mobile__item {
  border-bottom: 1px solid var(--white-color);
  padding: 1rem 1rem;
  color: var(--white-color);
}
