.button__lang {
  border-radius: 50%;
  padding: 1rem 1rem;
  margin: 1rem 0.2rem;
  font-size: 1.2rem;
  @media (max-width: 650px) {
    font-size: 0.9rem;
  }
}

/* .button__active {
  background-color: var(--accent-color);
  color: var(--white-color);
} */

.header__buttons_box {
  display: flex;
  justify-content: end;

  @media (max-width: 650px) {
    order: -1;
  }
}
