.tests {
  font-size: var(--text-size-base);
  background-color: var(--white-color);
  padding-top: calc(2 * var(--space-xxl));
  padding-bottom: calc(2 * var(--space-xxl));
  @media (max-width: 800px) {
    padding-top: calc(3 * var(--space-s));
    padding-bottom: calc(3 * var(--space-s));
  }
}

.tests__link {
  background: none;
  color: var(--link-color);
  padding: 0;
  text-align: start;
  &:hover {
    background-color: #ffffff;
    color: var(--highlight-color);
  }
}

.list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  max-width: 700px;
}

.list li:not(:last-child) {
  margin-bottom: var(--space-m);
}
