.telegram__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: var(--text-size-base);
  font-style: italic;
  text-decoration: none;
  color: var(--text-color-base);
  margin-bottom: 2.5rem;
  &:hover {
    color: var(--highlight-color);
    text-decoration: underline;
  }
  &:hover .telegram__icon {
    fill: var(--highlight-color);
  }
}

.telegram__icon {
  height: 30px;
}
