.about {
  padding-top: calc(2 * var(--space-xxl));
  padding-bottom: calc(2 * var(--space-xxl));

  @media (max-width: 800px) {
    padding-top: calc(3 * var(--space-s));
    padding-bottom: calc(3 * var(--space-s));
  }
}

.about__wrapper {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 5%;
  margin-top: 4rem;
}

.about__telegram {
  margin: 0 auto var(--space-l);
}

.about__description {
  position: relative;
  margin-bottom: -80px;
  top: -80px;
  text-align: justify;
  hyphens: auto;
}

.about__text {
  font-size: var(--text-size-base);
  margin: 0 0 15px;
}

.about__list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: var(--space-l);
}

.about__list li {
  margin-bottom: var(--space-s);
}

.about__list li::before {
  content: '— ';
}

@media (max-width: 600px) {
  .about__wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }

  .about__contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    order: 2;
  }

  .about__telegram {
    margin: 0;
  }

  .about__description {
    margin-bottom: 0;
    top: 0;
    width: 100%;
    order: 1;
  }
}
