.footer {
  background-color: var(--footer-background-color);
  padding: 2rem 0;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  font-size: var(--text-size-base);
}

.footer__wrapper p {
  margin: 0;
}

.footer__icon {
  height: 30px;
}

.footer__link,
.footer__createdby {
  text-decoration: none;

  &:hover {
    color: var(--accent-color);
    text-decoration: underline;
  }
}

.footer__copyright {
  font-size: 1.2rem;
}

a {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--base-background-color);
}
