.footer {
  background-color: var(--footer-background-color);
  padding: 2rem 0;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@-moz-document url-prefix() {
  .footer__wrapper {
    padding-bottom: 5rem;
  }
}

.footer__wrapper p {
  margin: 0;
}

.footer__createdby {
  text-decoration: none;
  color: var(--text-color-base);

  &:hover {
    color: var(--highlight-color);
    text-decoration: underline;
  }
}

.footer__copyright {
  font-size: 1.2rem;
}
