.title {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 3rem;
  line-height: 160%;
  font-family: var(--font-family-titles);

  @media (max-width: 450px) {
    font-size: 2rem;
  }

  @media (min-width: 451px) and (max-width: 820px) {
    font-size: 2.5rem;
  }
}

:global .title_small {
  font-size: 3rem;
  @media (max-width: 450px) {
    font-size: 1.5rem;
  }

  @media (min-width: 571px) and (max-width: 820px) {
    font-size: 2.2rem;
  }
}

:global .title_big {
  font-size: 6rem;
  text-transform: uppercase;
  line-height: 120%;
  letter-spacing: 3px;
  font-weight: 500;

  @media (max-width: 450px) {
    font-size: 1.7rem;
  }

  @media (min-width: 451px) and (max-width: 570px) {
    font-size: 2.5rem;
  }

  @media (min-width: 571px) and (max-width: 820px) {
    font-size: 3.3rem;
  }

  @media (min-width: 821px) and (max-width: 1050px) {
    font-size: 4.6rem;
  }
}
