/*значения будут заполнены после утверждения стилей */
/*кастомные значения (переменные) доступны и применимы в любом компоненте приложения, пример:
.h1 {
  color: var(--accent-color);
}*/

:root {
  --basic-color: rgb(217, 186, 154);
  --accent-color: rgb(79, 160, 251);
  --white-color: rgb(255, 255, 255);
  --black-color: rgb(0, 0, 0);
  --accent-font-family: Inter; /*пока что условное значение*/

  --space-s: 5px;
  --space-m: 12px;
  --space-l: 24px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: rgb(36, 36, 36);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}
