@import 'variables.css';

:root {
  --space-s: 5px;
  --space-m: 12px;
  --space-l: 24px;

  font-family: var(--font-family-base), Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

/*! глобальный класс, который отвечает за заливку background, добавляется к тегу вне контейнера, чтобы заполнить цветом всю видимую область */
.wrapper {
  background-color: var(--base-background-color);
}
