@import 'variables.css';

@font-face {
  font-family: 'Mont';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Mont/mont_extralightdemo.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Montserrat/static/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'MontBold';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Mont/mont_heavydemo.ttf');
}

:root {
  font-family: var(--font-family-base), Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 10px;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: var(--text-color-base);
}

* {
  box-sizing: border-box;
}

