:root {
  --base-background-color: rgb(231, 226, 224);
  --accent-color: rgb(173, 192, 136);
  --white-color: rgb(255, 255, 255);
  --black-color: rgb(0, 0, 0);
  --highlight-color: rgb(108, 104, 102);
  --button-hover-color: rgb(178, 166, 142);
  --footer-background-color: rgb(178, 166, 142);
  --text-color-base: rgb(50, 57, 50);
  --link-color: rgb(173, 192, 136);
  --text-size-base: 1.7rem;
  --font-family-titles: Mont;
  --font-family-base: Montserrat;
  --font-family-titles-bold: MontBold;

  --space-s: 10px;
  --space-m: 15px;
  --space-l: 24px;
  --space-xl: 30px;
  --space-xxl: 40px;

  --border-radius-m: 24px;

  @media (max-width: 450px) {
    --text-size-base: 1.5rem;
  }
}
