:root {
  --base-color: rgb(217, 186, 154);
  --accent-color: rgb(79, 160, 251);
  --white-color: rgb(255, 255, 255);
  --black-color: rgb(0, 0, 0);
  --highlight-color: rgb(120, 98, 47);
  --text-color: rgb(34, 34, 15);

  --accent-font-family: Inter;
  --main-font-family: Montserrat;
}
